[core]
    editor = nvim
    askPass =
    autocrlf = false
    pager = less -SFR
[column]
    ui = auto
[tag]
    sort = version:refname
[help]
    autocorrect = prompt
[credential]
    helper = store
[init]
    defaultBranch = main
[commit]
    template = ~/.gitmessage
    verbose = true
[pull]
    ff = only
[push]
    default = upstream
    autoSetupRemote = true
[fetch]
    prune = true
    pruneTags = true
    all = true
[branch]
    autosetupmerge = always
    autosetuprebase = always
    sort = -committerdate
[diff]
    algorithm = histogram
    colorMoved = plain
    mnemonicPrefix = true
    renames = true
[rebase]
    abbreviateCommands = true
    autoSquash = true
    autoStash = true
    updateRefs = true
[merge]
    # based on vim mergetool plugin
    tool = vim_mergetool
    conflictstyle = diff3
    renamelimit = 4096
[mergetool]
    keepBackup = false
[mergetool "vim_mergetool"]
    cmd = nvim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
    prompt = false
[rerere]
    enabled = true
    autoupdate = true
[filter "lfs"]
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f
    process = git-lfs filter-process
    required = true
[url "https://github.com"]
    insteadOf = git://github.com
[gc]
    pruneExpire = now
[include]
    # include local configuration
    path = ~/.gitlocal
