[core]
    editor = vim
    # detect whitespace problems
    whitespace = trailing-space,tab-in-indent,space-before-tab
[gc]
    pruneExpire = now
[diff]
    # don't show source or destination prefix in git diff
    noprefix = true
    # characters to ignore in word diff mode
    wordRegex = "[^[:space:].,;]+"
    # https://link.springer.com/article/10.1007%2Fs10664-019-09772-z
    algorithm = histogram
[apply]
    # strip whitespace
    whitespace = fix
[pull]
    # don't create merge nodes during git pull
    ff = only
[push]
    default = upstream
[branch]
    # always create new tracking branches
    autosetupmerge = always
    # rebase instead of merge when pulling
    autosetuprebase = always
[rebase]
    # short commands in rebase editor
    abbreviateCommands = true
[merge]
    # based on vim mergetool plugin
    tool = vim_mergetool
    conflictstyle = diff3
[mergetool "vim_mergetool"]
    cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
    prompt = false
[commit]
    template = ~/.gitmessage
[include]
    # include local configuration with stuff like user and http certificates
    path = ~/.gitlocal
[credential]
    helper = cache --timeout=259200
[url "https://github.com"]
    insteadOf = git://github.com
