[core]
    editor = vim
    ignorecase = false
    whitespace = trailing-space,tab-in-indent,space-before-tab
[color]
    ui = auto
[diff]
    noprefix = true
    wordRegex = "[^[:space:].,;]+"
[apply]
    whitespace = fix
[pull]
    ff = only
[push]
    default = simple
[branch]
    autosetupmerge = always
    autosetuprebase = always
[rebase]
    abbreviateCommands = true
[merge]
    tool = vim_mergetool
    conflictstyle = diff3
[mergetool "vim_mergetool"]
    cmd = vim -f -c "MergetoolStart" "$MERGED" "$BASE" "$LOCAL" "$REMOTE"
    trustExitCode = true
    prompt = false
[commit]
    template = ~/.gitmessage
[include]
    path = ~/.gitlocal
